@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* variables */
:root{
    /* COLORES */
    --firs-color: hsl(218, 100%, 50%);
    --firs-colorNav:hsl(218, 100%, 50%);
    --firts-color-alt:hsl(218, 100%, 30%);
    --second-color:hsl(260, 67%, 50%);
    --body-color:rgb(226, 226, 226);
    --text-color:black;
    --title-color:hsl(241, 91%, 18%);
    --container-color:white;
    --color-medium: hsl(230, 22%, 31%);
    /* Tamanios */
    --font-family:'Poppins', sans-serif;
    --header-height : 3rem; 
    --big-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font:.938rem;
    --small-font:.813rem;
    --smaller-font: .75rem;

    --font-medium:500;
    --font-semi:600;
    /* Margenes de los botones */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5:1.5rem;
    --mb-2: 2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;

    --z-tooltip: 10;
    --z-fixed:100;
    --z-modal:1000;
}
.imagen{
    width: 20px;
}
body.dark-theme{
    transition: 1s;
    --firs-color: hsl(230, 22%, 31%);
    --firs-colorNav:rgb(255, 255, 255);
    --firts-color-alt:hsl(219, 79%, 45%);
    --second-color:hsl(260, 67%, 50%);
    --body-color:rgb(0, 16, 68);
    --text-color:rgb(255, 255, 255);
    --title-color:hsl(243, 26%, 83%);
    --container-color:rgb(248, 248, 248);
    --color-medium:hsl(219, 79%, 45%);
}
.nav__btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.2rem;
    margin: var(--mb-1-5);
    cursor: pointer;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    transition: 1s;
    margin: 0 0 var(--header-height) 0;
    font-family: var(--font-family);
    font-size: var(--normal-font);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi);

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
img{max-width: 100%;
height: auto;
}

.section{
    padding: 2rem 0 4rem;
}
.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font);
    margin-bottom: var(--mb-3);
}
.section_title,
.section_subtitle{
    text-align:center;
}

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap:1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);  
}
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav___logo,
.nav___toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);   
}
.nav___logo:hover{
    color:hsl(219, 79%, 45%);
}
.nav___toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color:hsl(219, 79%, 45%);
}
@media (max-width: 768px){
    .nav___menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        padding: 2rem 1.5rem 4rem;
        width: 100%;
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 3s;
    } 
}
    

.nav___list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
} 
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font);
    color:var(--title-color);
    font-weight: var(--font-medium);
}
.nav_link:hover{
    color: var(--firs-colorNav);
}
.close{
    width: 15px;
    position: absolute;
    right:1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--firs-color);
}

.show-menu{
    bottom: 0;
}
.home__container{
    gap: 1rem;
}
.home__content{
    grid-template-columns: .5fr .3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    color: var(--text-color);
}
.home__social-icon{
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
    color: var(--text-color);
}
.home__blob{
    fill: var(--firs-color);
    width: 200px;
}
.home__blob-img{
    width: 170px;
}

.home__data{
    grid-column: 1/3;
}
.home__tittle{
    font-size: var(--big-font-size);
}
.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home__description{
    margin-bottom: var(--mb-2);
}
.home__scroll{
    display: none;
}
.home__scroll-button{
    color: var(--firs-color);
    transition: .3s;
}
.home__scroll-button:hover{
    transform: translateY(.25rem)
}
.home__scroll-name{
    font-size: var(--small-font);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}
.home__scroll-arrow{
    font-size: 1.25rem;
}
.button{
    display: inline-block;
    background-color: var(--firs-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.imagenButton{
    width: 0;
}
.button:hover{
    background-color: var(--firts-color-alt);
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi);
    color: var(--title-color);
}
.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}
.about__info-title,
.about__info-name
{
    display: block;
    text-align: center;
}
.about_buttons{
    display: flex;
    justify-content: center;
}
.img-tecnologias{
    width: 20%;
}
.img-tecnologiasReact{
    width: 40%;
}

.skills__container{
    row-gap: 0;
}
.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.skills__title{
    font-size: var(--h3-font-size);
}
.skills__subtitle{
    font-size: var(--small-font);
    color: var(--text-color);
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills__name{
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
}
.skills__bar,
.skills__percentage{
height: 5px;
border-radius: .25rem;
}
.skills__bar{
    background-color: rgb(0, 16, 68);
}
.skills__percentage{
    display: block;
    background-color: hsl(218, 100%, 50%);
}
.skills__html{
    width: 90%;
}
.skills__js{
    width: 80%;
}
.skills__css{
    width: 75%;
}
.skills__react{
    width: 85%;
}
.skills__redux{
    width: 80%;
}
.skills__sequalize{
    width: 65%;
}
.skills__express{
    width: 70%;
}
.skills__node{
    width: 70%;
}
.skills__post{
    width: 80%;
}

.tecnica__n1{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.educacion__content{
    row-gap: 0;
}

.section__subtitle-educacion{
    text-align: center;
}

.redes__sociales{
    display: flex;
    justify-content: space-between;
}
.imagenSocial{
    width: 50px;
}
.contacto-me{
    display: flex;
    justify-content: space-around;
}

.home__blob{
  border-radius: 20rem;
  height: 20rem;
}
.imagen__propia-img{
    width: 170px;
    border-radius: 20rem;
    justify-content: center;
    align-items: center;
    width: 200px;
    left: 20px;
    border:5px solid var(--firs-color)
}

@media(min-width:768px){
    :root{
    --big-font-size:3rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font:1rem;
    --small-font:.875rem;
    --smaller-font: .813rem;
    }
}
@media screen and (min-width : 568px){
     .home__content{
        grid-template-columns: max-content 1fr 1fr ;
    } 
    .home__data{
        grid-column: initial;
    }
    
    .imagen__propia-img{
        order: 1;
        width: 400px;
        border-radius: 20rem;
        justify-content: center;
        align-items: center;
    }
    .about__container{
        grid-template-columns: repeat(2,1fr);
    }
    .imagen_lenguaje{
        width: 12rem;
        margin: 2rem;
    }
    .imagen_lenguaje3{
        width: 12rem;
        margin: 2rem;
    }
    /* .imagen_lenguaje2{
        justify-content: space-around;
    } */
    .grid_templado{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width : 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section_subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem );
        column-gap: 1rem;
    }
    .nav__icon,
    .nav___toggle,
    .close{
        display: none;
    }
    .nav___list{
        display: flex;
        column-gap: 2rem;
    }
    /* .imagen_lenguaje{
        width: 10rem;
        margin: 1rem;
    }
    .imagen_lenguaje3{
        width: 10rem;
        margin: 1rem;
    } */
    /* .imagen_lenguaje2{
        justify-content: space-around;
    } */
}




.button2{
    display: inline-block;
    background-color: var(--firs-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    justify-content: center;
    align-items: center;
}
.button2__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2:hover{
    background-color: var(--firts-color-alt);
}

.skills__header2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.education__icon{
    font-size: 2rem;
    color: hsl(218, 100%, 50%);
}

.education__close .proyect__list{
    height: 0;
    overflow: hidden;
}
.education__open .proyect__list{
    height: max-content;
    margin-bottom: var(--mb-2-5) ;

}

.education__close .education__icon{
    transition: 0.4s;
}
.education__open .education__icon{
    transform: rotate(-180deg);
    transition: 0.4s;
}
.proyectos__content{
    transition: 0.4s;
}
.imagen_lenguaje{
    width: 10rem;
    margin: 2rem;
}
.imagen_lenguaje3{
    width: 10rem;
    margin: 2rem;
}
/* .imagen_lenguaje2{
    justify-content: space-around;
} */
.grid_templado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5); */
}

@media (max-width:480px) {
    .grid_templado{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .imagen_lenguaje{
        width: 8rem;
        margin: 2rem;
    }
    .imagen_lenguaje3{
        width: 8rem;
        margin: 2rem;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
}